
// Settings SASS from App\Helpers\Upload::resourceInit

$primary: #40c4ff;
$dark: #292b37;
$secondary: #6c757d;
$light: #eceff1;
$gray-blue: #78909c;
$light-light: #fafafa;
$transition: .5;
$path-img: '../img';
