@charset "UTF-8";

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

@media (max-width: 576px) {
  .g-recaptcha {
    transform: scale(0.8);
    transform-origin: left center;
  }
}

@media (max-width: 380px) {
  .g-recaptcha {
    transform: scale(0.7);
  }
}

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

.animate-spin {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
  display: inline-block;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.animate-bottom {
  -webkit-animation: animate-frame-bottom ease 1.5s;
          animation: animate-frame-bottom ease 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes animate-frame-bottom {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes animate-frame-bottom {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

input,
textarea,
.custom-control-label:after {
  cursor: pointer;
}

.form-control:focus {
  border-color: #a1a8ae;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
}

.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control:focus::-moz-placeholder {
  color: transparent;
}

.form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.form-control:focus::placeholder {
  color: transparent;
}

.navbar-toggler {
  width: 3rem;
  height: 2.4rem;
  position: relative;
}

.navbar-toggler .hamburger {
  position: absolute;
  left: 12.5%;
  width: 75%;
  height: 0.12rem;
  background-color: #292b37;
  transition-duration: 0.5s;
}

.navbar-toggler .hamburger:nth-child(1) {
  top: 25%;
}

.navbar-toggler .hamburger:nth-child(2) {
  top: 48%;
}

.navbar-toggler .hamburger:nth-child(3) {
  bottom: 25%;
}

.navbar-toggler.active .hamburger:nth-child(1) {
  top: 48%;
  transform: rotate(45deg);
}

.navbar-toggler.active .hamburger:nth-child(2) {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-toggler.active .hamburger:nth-child(3) {
  bottom: 48%;
  transform: rotate(-45deg);
}

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

.panel-dashboard {
  padding: 7px 15px;
  background-color: #292b37;
}

.panel-dashboard__icons {
  display: inline-block;
  margin-right: 5px;
  padding: 0 10px 5px 10px;
  transition: all 0.25s;
}

.panel-dashboard__icons:last-child {
  margin-right: 0;
}

.panel-dashboard__icons:hover svg {
  fill: #e6e6e6;
}

.panel-dashboard__icons svg {
  max-width: 24px;
  height: 11px;
  fill: #fff;
}

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

.z {
  z-index: 9;
}

.z2 {
  z-index: 10;
}

.z3 {
  z-index: 99;
}

.z8 {
  z-index: 9999;
}

.z9 {
  z-index: 99999;
}

.w-5 {
  width: 5rem;
}

.w-3 {
  width: 3rem;
}

.cur {
  cursor: pointer;
}

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

/*
Миксин анимации.
$transition - скорость анимации, по-умолчанию $transition-sm.
$value - какое свойство анимировать, по-умолчанию all.
*/

