
// Settings SCSS from App\Helpers\Upload::resourceInit();

$primary: #78909c;
$dark: #292b37;
$light: #eceff1;
$gray-blue: #78909c;
$light-light: #fafafa;
$transition: .5;
$primary-admin: #78909c;
$dark-admin: #292b37;
$light-admin: #eceff1;
$transition-admin: .5;
$path-img: '../img/';
$aside-width-icon: 3rem;
$aside-width-text: 15rem;
