@import "config/params";
@import "config/mixins";
@import "config/blocks";

.img-view {
    & > a {
        position: relative;
        display: inline-block;
        margin-right: $spacer;
        margin-bottom: $spacer;
        width: 6rem;
        height: 6rem;
        i {
            position: absolute;
            top: -.5rem;
            right: -1.1rem;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
