@import "config/params";
@import "config/mixins";
@import "config/blocks";

/*.body-block {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content-block {
    flex: 1 0 auto;
}
.footer-block {
    flex: 0 0 auto;
}*/

.enter {
    margin-top: 10%;
    animation: $transition-md animate-enter forwards;
    @keyframes animate-enter {
        from {
            opacity: 0;
            transform: scale(1.2);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.app {
    display: flex;
}

// Футер прижатый книзу
.body-block {
    display: flex;
    flex-direction: column;
    height: 100%;
}
// Основной раздел будет занимать все свободное место на странице
.content-block {
    flex: 1 0 auto;
}
// Футер будет занимать столько места по вертикали, сколько и должен
.footer-block {
    flex: 0 0 auto;
}

.header {
    height: 48px;
    &__left {
        position: relative;
        z-index: 1;
    }
    img {
        height: 1.5rem;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: transparent;
    }
    .dropdown-menu {
        border: none;
        box-shadow: $box-shadow;
    }
}

#menu-mobile {
    position: relative;
    padding-bottom: .5rem;
    background: $white;
    z-index: 5;
    a {
        color: $black;
    }
}

/*main.main > div.row {
    flex-wrap: nowrap;
}*/

.top-panel {
    .material-icons {
        font-size: 1.26rem;
    }
}

.content {
    &__h1 .btn-group {
        height: 1.7rem;
    }
}
