@import "config/params";
@import "config/mixins";
@import "config/blocks";

.log-viewer {
    #table-log {
        font-size: 0.85rem;
    }
    .sidebar-log {
        font-size: 0.85rem;
        line-height: 1;
    }
    .btn {
        font-size: 0.7rem;
    }
    .stack {
        font-size: 0.85em;
    }
    .date {
        min-width: 75px;
    }
    .text {
        word-break: break-all;
    }
    a.llv-active {
        z-index: 2;
        background-color: #f5f5f5;
        border-color: #777;
    }
    .list-group-item {
        word-wrap: break-word;
    }
    .folder {
        padding-top: 15px;
    }
    .nowrap {
        white-space: nowrap;
    }
    .list-group-item+.list-group-item {
        border: 1px solid rgba(0, 0, 0, .125);
    }
    .dataTables_wrapper {
        padding-right: 0;
        padding-left: 0;
    }
}
