@import "config/params";
@import "config/mixins";
@import "config/blocks";

.filter-icons {
    position: relative;
    width: 20px;
    height: 100%;
    background-color: #ccc;
    a {
        position: absolute;
        line-height: .5;
        font-size: $font-size-base * 2;
        &:nth-child(1) {
            top: -3px;
        }
        &:nth-child(2) {
            bottom: -3px;
        }
        &.active {
            color: $black;
        }
    }
}

#spinner {
    display: none;
    .spinner-block {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($white, .85);
        z-index: 1021;
        display: flex;
        justify-content: center;
        align-items: center;
        & > div {
            width: 14rem;
            height: 14rem;
        }
    }
}
